#container {
/*  display: table;
  width: 960px;
  height: 960px;
  margin-left: auto;
  margin-right: auto;*/
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  background-color: #045;
  vertical-align: middle;
  text-align: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
  border: 1px dotted;
}

/*.default {
  background-color: #045;
}*/
